body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.main-column {
  display: flex;
  flex-direction: row;
  height: 80%; /* 80% of the viewport height */
  justify-content: space-between;
  padding: 2% 3% 0% 5%;
}

@media screen and (max-height: 700px) {
  .main-column {
    padding-top: 5px;
  }
}

@media screen and (max-width: 768px) {
  .main-column {
    padding: 2% 3% 0% 3%;
  }

  .App {
    height: calc(var(--vh, 1vh) * 100);
  }
}

.app-map,
.app-body {
  width: 50%; /* Each takes up half the width */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.app-body {
  flex-direction: row;
  padding-top: 3%;
  overflow: hidden;
  height: auto;
}

@media screen and (max-height: 700px) {
  .app-body {
    padding-top: 1%;
  }
}

.input-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%; /* 20% of the viewport height */
  transition: bottom 0.3s ease-in-out;
}

.status-message {
  color: rgb(157, 14, 14);
  height: 20px;
}

/* New media query for screens less than 768px */
@media screen and (max-width: 768px) {
  .input-panel {
    position: fixed; /* Fix position to the viewport */
    bottom: 0; /* Align to the bottom */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    z-index: 1000; /* Adjust if needed to bring above other elements */
    background-color: white;
  }

  .app-body {
    flex-direction: column;
    padding-bottom: 25%;
    padding-top: 0;
  }
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .main-column {
    flex-direction: column;
    height: auto;
  }

  .app-map,
  .app-body {
    width: 100%;
  }

  .input-panel {
    height: 15%;
    flex-direction: column;
  }

  .status-message {
    height: 10px;
  }
}

.app-content {
  padding: 0px 2vw 0px 4vw;
}

.guessed-states {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.guessed-states p {
  width: 20%;
  padding-bottom: 2.2vh;
  font-size: 0.7em;
}

@media screen and (max-width: 1260px) {
  .guessed-states p {
    width: 25%;
    overflow: hidden;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 900px) {
  .guessed-states p {
    width: 33.33%;
    font-size: 0.6em;
  }
}

@media screen and (max-width: 768px) {
  .guessed-states p {
    width: 25%;
    font-size: 0.9em;
    padding-bottom: 0.5vh;
  }
  .app-content {
    padding: 0px 1vw 0px 1vw;
  }
}

@media screen and (min-width: 1800px) {
  .guessed-states p {
    font-size: 1em;
  }
}

@media screen and (min-width: 1800px) {
  .guessed-states p {
    font-size: 1.2em;
  }
}

.score-panel {
  width: 100%;
  height: 100%;
}

.score-panel h3 {
  margin-top: 0px;
  font-size: 17px;
}

.score-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 10px;
}

.input-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 0% 5%;
}

.game-description {
  font-weight: 200;
  font-size: 17px;
  padding-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .game-description {
    font-size: 12px;
  }
}

.form-quiz {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.form-quiz input[type="text"] {
  height: 25px;
  width: 45vw;
  margin-right: 4vw;
  padding-left: 10px;
}

.form-quiz input[type="submit"],
.form-quiz button {
  height: 30px;
  margin-left: 5px;
  border-radius: 7px; /* Makes edges flat */
  border: none; /* Removes border */
  box-shadow: none; /* Removes shadow for flat appearance */
  background: #e0e0e0;
  margin-right: 3px;
}

.form-quiz input[type="submit"]:active,
.form-quiz button:active {
  background: gray; /* Darker color for clicked state */
}

@media screen and (max-width: 900px) {
  .form-quiz input[type="text"] {
    margin-right: 0;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .form-quiz {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .form-quiz div {
    padding-bottom: 10px;
  }

  .form-quiz input[type="text"] {
    width: 90vw;
  }

  .form-quiz input[type="submit"],
  .form-quiz button {
    height: 30px;
    margin-right: 5px;
    margin-left: 0;
  }
  .input-panel {
    padding: 0;
    justify-content: center;
  }
}

.toggle-difficulty {
  text-align: left;
  margin: 10px 0;
  color: rgb(101, 99, 99);
}

.toggle-difficulty button {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none; /* Removes border */
  box-shadow: none; /* Removes shadow for flat appearance */
  background-color: #f7f7f7;
  cursor: pointer;
}

.toggle-difficulty .active {
  background-color: #4caf50;
  color: white;
}

.progress-bar {
  position: relative; /* Relative positioning for the container */
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 8px;
  margin: 15px 0;
}

.progress {
  height: 20px;
  background-color: #4caf50;
  border-radius: 8px;
  transition: width 0.5s;
}

.text-container {
  position: absolute; /* Absolute positioning for the text */
  right: 10px; /* Adjust as needed for spacing */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  margin: 0;
  margin-right: 10px; /* Adjust spacing as needed */
  font-size: 0.9em;
  color: #3c4142;
}

.form2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.time-container {
  width: 65px;
}

@media screen and (max-width: 768px) {
  .App {
    max-height: 100vh; /* Fix the total height of the app */
    overflow: hidden; /* Prevent scrolling on the app level */
  }

  .main-column {
    display: flex;
    flex-direction: column;
    height: 100%; /* Full height of the app */
  }

  .app-map {
    /* Adjust the height as needed */
    flex: 0 0 auto; /* Flex item that doesn't grow or shrink */
  }

  .app-body {
    flex: 1; /* Takes up the remaining space */
    overflow-y: auto; /* Enable vertical scrolling */
  }
}

.hide-content {
  display: none;
}

.half-width {
  width: 200px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-button {
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 75px;
}

@media screen and (max-width: 768px) {
  .main-column-adjusted {
    margin-top: 35vh;
  }
}
