.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guessed-states {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.guessed-states p {
  width: 20%;
}

.app-body {
  display: flex;
  flex-direction: row;
  padding: 50px 20px;
  max-width: 850px;
}

.score-panel {
  width: 100%;
  height: 100%;
}

.score-panel h3 {
  margin-top: 0px;
  font-size: 17px;
}

.score-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 10px;
}

.input-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 10px 0px 10px;
}

.app-content {
  padding: 0px 50px;
}

.status-message {
  color: rgb(157, 14, 14);
  height: 20px;
}

.app-map {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  height: 400px;
}


.game-description {
  height: 50px;
  font-weight: 200;
}

.form-quiz input[type='text'] {
  height: 25px;
}

.form-quiz input[type='submit'] {
  height: 30px;
  margin-left: 5px;
}

.form-quiz button {
  height: 30px;
  margin-left: 5px;
}

.toggle-easy {
  text-align: left;
  margin: 10px;
}